
@font-face {
    font-family: 'UniversLTStd';
    src: url('../fonts/UniversLTStd/UniversLTStd.eot');
    src: url('../fonts/UniversLTStd/UniversLTStd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UniversLTStd/UniversLTStd.woff') format('woff'),
         url('../fonts/UniversLTStd/UniversLTStd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniversLTStd_Light';
    src: url('../fonts/UniversLTStd/UniversLTStd-Light.eot');
    src: url('../fonts/UniversLTStd/UniversLTStd-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UniversLTStd/UniversLTStd-Light.woff') format('woff'),
         url('../fonts/UniversLTStd/UniversLTStd-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
