/*
* Pure CSS Components - http://www.felipefialho.com/css-components/
* Author: Luiz Felipe Tartarotti Fialho
* hi@felipefialho.com
* http://www.felipefialho.com/
*/
.tab {
  position: relative;
}
.tab-painel {
  display:block;
  // min-height: 150px;
}
.tab-painel .tab-open {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.tab-nav {
  float:left;
  width: 33.33%;
  color:#d6d4d4;
  // letter-spacing: 0.5px;
  font-weight:800;
  text-shadow: 0px 1px 0px #333;
  background:#3f3d3d;
  cursor: pointer;
  font-family: calibri;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  padding: 15px 0px;
  margin:0 0 0 0;
  z-index: 100;
  &:hover{
    background:#4a4848;
  }
}
.tab-open .tab-nav:hover,
.tab-open:checked ~ .tab-nav {
  background-color: #242323;
}
.tab-inner {
  position: absolute;
  opacity: 0;
  margin: 50px 0 0 0;
  padding:20px 20px 20px 20px;  
  left: 0;
  -webkit-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
  visibility: hidden;
}
.tab-open:focus:checked ~ .tab-nav {
  outline: none;  
}
.tab-open:checked ~ .tab-inner {
  opacity: 100;
  visibility: visible;
  width:100%;
  background:transparent;
  z-index: 1;
}
