h1 {
    font-size: $h1-size;
    color: $h1-color;
    font-weight: $h1-weight;
    margin: $h1-margin;
    line-height: $h1-lheight;
    &.h1-2{
        font-weight: $h1-2-weight;
        font-size: $h1-2-size;
    }
}
h2 {    
    font-size: $h2-size;
    color: $h2-color;
    margin: $h2-margin;
    line-height: $h2-lheight;
    font-weight: $h2-weight;     
}
h3 {
    font-size: $h3-size;
    color: $h3-color;
    margin: $h3-margin;
    font-weight: $h3-weight;
    border: 0;
}
h4 {
    font-size: $h4-size;
    color: $h4-color;
    font-weight: $h4-weight;
    margin: $h4-margin;
}
h5 {
    font-size: $h5-size;
    color: $h5-color;
    font-weight:$h5-weight;
    margin: $h5-margin;
}
h6 {
    font-size: $h6-size;
    color: $h6-color;
    font-weight:$h6-weight;
    margin: $h6-margin;
}
p{
    color: $p-color;
    font-size: $p-size;
    line-height: $p-lheight;
    margin: $p-margin;
}
small {
    font-size: $small-size;
    line-height: $small-lheight;
    font-style: normal;
}
label{
    font-size: $label-size;
    line-height: 16px;
}
a {
    color:$a-color;
    font-size: inherit;
    text-decoration: $a-decoration;
    &.link{
        color:$a-link-color !important;
        &:hover{
            color:darken($a-link-color, 4%) !important;
        }      
    }
}
hr{
    display: inline-block;
    width: $hr-width;
    border:none;
    border-bottom: $hr-border;
    padding:0;
    margin: $hr-margin;
    &.hr-2{
        width: $hr-2-width; 
        border-bottom: $hr-2-border;
        margin: $hr-2-margin;
    }
}
ul{
    display: inline-block;
    list-style:none;
    margin:$ul-margin;
    &.check{
        padding:0 10px;
        li{
            position: relative;
            padding: 8px 0 8px 30px;
            &:before{
                content:"";
                position: absolute;
                top:12px; left:0;
                margin: auto;
                width:18px; height:14px;
                background: url(/images/ico-listcheck.png) no-repeat;
            }
        }
    }     
    li{
        a{ 
            display: block;
            text-decoration: none;
            img{
                float:left;
            }
        }
    }
    &.disc{
        list-style-type: disc;
        padding: 8px 0 8px 18px;
        li{
            line-height: 130%;
            margin: 5px 0;
        }
    }
}
nav{
    ul{
        display: inline-block;
        margin:0 auto;
        padding:0;
        li{
            display:inline-block;
            float:left;
        }
    }
}

// responsive
@media (max-width: 1024px){
    h1 {
        font-size: 36px;
        line-height: 1.4;
        // margin: 0 0 15px 0;
        &.size38{
            font-size:34px;
        }
    }
    h2 {    
        font-size: 24px;
        margin:0 0 10px 0;
        line-height: 1.3; 
    }
    h3 {
        font-size: 22px;
        margin:0 0 10px 0;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
}

@media (max-width: 768px){
    h1 {
        font-size: 32px !important;
        font-weight:700;
        // letter-spacing:-1.2px;
    }
    h2{
        font-size: 28px;        
    }
    h5 {
        font-size: 15px;
        line-height:1.4;
    }
}

@media (max-width: 480px){
    h1 {
        font-size: 26px !important;
        margin: 0 0 10px 0;
    }
    h2{
        font-size: 22px;        
    }
    h3{
        font-size: 18px;        
    }
    h4{
        font-size: 16px;
        line-height: 1.5;
    }
    h5 {
        font-size: 16px;
        line-height: 1.5;
    }
    h6 {
        font-size: 14px;
        line-height: 1.6;
    }
    p{
        font-size:14px;
        line-height:1.6;
    }
}

