@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700);
// tooltips

.tooltips__work--gallery {
    // position: relative;
    // display: inline;
    // display:block;
    .tooltips__work--span{
        display: none;
    }
    &:hover{
        .tooltips__work--span{
            display:inline;
            opacity: 1;            
            z-index: 99999999;
            position: absolute;
            // font-size:8.5px; 
            // letter-spacing: 1px;
            color: #fff;            
            text-align:left;
            // border-radius: 10px;
            line-height: normal;
            font-weight:100;
            font-family: calibri;
            top: 0px; left:90px;
            padding:5px 15px;
            margin: 0px 0px 0px -20px;
            background:rgba(63, 63, 63, 0.5);
            // @include boxshadow( 0px, 5px, 12px, 0px, #ccc);
            -webkit-animation: animate__bottomtop__tooltips 0.3s ease; /* Safari 4+ */
            -moz-animation: animate__bottomtop__tooltips 0.3s ease; /* Fx 5+ */
            -o-animation: animate__bottomtop__tooltips 0.3s ease; /* Opera 12+ */
            animation: animate__bottomtop__tooltips 0.3s ease; /* IE 10+ */ 
            &:after{
                content: '';
                position: absolute;
                top: 20px;
                left:-10px;
                margin: 0px;
                width: 0; 
                height: 0;
                border-top: 8px solid transparent;                
                border-bottom: 8px solid transparent;

                border-right: 10px solid rgba(63, 63, 63, 0.5);
            }
                .tooltips__work--h1{
                    position:relative;
                    font-size:42px;
                    color:#d6d4d4;
                    white-space: nowrap;
                    padding: 0 50px 0 0;
                    margin:0;
                        .popup--link{
                            position:absolute;
                            top:5px;
                            right:5px;
                        }
                }
                hr{
                    margin:5px 0;
                    padding:0;
                    border-top:1px solid #d6d4d4;
                    border-right:none;
                    border-bottom:none;
                    border-left:none;
                    clear:both;
                }
                .tooltips__work--p{
                    float:left;
                    font-size: 20px;
                    color:#000000;
                }
        }
    }    
}